.margineNavbar{
position: relative;
top:-4px
}
.classifica-galleria-sponsor {
  .galleryClassifica {
    display: grid;
    grid-template-columns: 7fr 5fr;

    @media all and (max-width: 1900px) {
      display: flex;
      flex-direction: column;

      .classifica {
        height: calc(820px + 5vw);
      }
    }
  }
}

.titleIframe {
  text-align: center;
  color: white;
  font-size: 50px;
  background-image: url("../../../assets/sfondo/bannerini.png");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;

  @media all and (max-width: 1601px) {
    display: flex;
    flex-direction: column;
  }

  .contaire-iframe {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .iframe {
      background-color: #d7d7d7;
    }
  }
}
