<section class="homepage mx-1">
  <article class="img">
    <img
      src="assets/homepage/headerHomepage.jpg"
      width="100%"
      height="auto"
      alt="header homepage"
    />
  </article>
  <app-navbar class="margineNavbar"></app-navbar>
  <article class="classifica-galleria-sponsor">
    <section class="flex justify-content-center">
      <img src="assets/sponsor/LogoOftavision.jpg" width="20%" alt="sponsor" />
    </section>
    <section class="galleryClassifica ml-1">
      <app-galleria-dinamica [images]="images" [paginaAttuale]="'homepage'" [archivio]="false"></app-galleria-dinamica>
      <div>
        <article class="titleIframe text-flicker-in-glow">
          CLASSIFICA
        </article>
        <iframe
          src="https://www.tuttocampo.it/WidgetV2/Classifica/3e2f3bf2-63e9-4fd0-8c55-feac84621b54"
          width="100%"
          height="750px"
          scrolling="no"
          frameborder="0"
        ></iframe>
        </div>
    </section>
  </article>
  <article class="container mt-2">
    <app-sponsor [sponsorArray]="sponsorArray1"></app-sponsor>
    <div class="contaire-iframe">
      <article>
        <p class="titleIframe text-flicker-in-glow">RISULTATI</p>
        <iframe
        cookieSameSite="None"
          class="iframe"
          src="https://www.tuttocampo.it/WidgetV2/Risultati/3e2f3bf2-63e9-4fd0-8c55-feac84621b54"
          width="100%"
          height="530"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </article>
      <article>
        <p class="titleIframe text-flicker-in-glow">MARCATORI</p>
        <iframe
        cookieSameSite="None"
          class="iframe"
          src="https://www.tuttocampo.it/WidgetV2/Marcatori/3e2f3bf2-63e9-4fd0-8c55-feac84621b54"
          width="100%"
          height="600"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </article>
      <article>
        <p class="titleIframe text-flicker-in-glow">PARTITA</p>
        <iframe
        cookieSameSite="None"
          class="iframe"
          src="https://www.tuttocampo.it/WidgetV2/Partita/3e2f3bf2-63e9-4fd0-8c55-feac84621b54"
          width="100%"
          height="273"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </article>
      <article>
        <p class="titleIframe text-flicker-in-glow">PROSSIMA PARTITA</p>
        <iframe
          class="iframe"
          src="https://www.tuttocampo.it/WidgetV2/ProssimaPartita/3e2f3bf2-63e9-4fd0-8c55-feac84621b54"
          width="100%"
          height="273"
          scrolling="no"
          frameborder="0"
          ></iframe>
      </article>
    </div>
    <app-sponsor [sponsorArray]="sponsorArray2"></app-sponsor>
  </article>
</section>
