.p-button.p-fileupload-choose,.buttonUpload.p-fileupload-choose:not(.p-disabled):active {
  background-color: red;
  color: white;
  border-color: red;
}

.p-button:focus{
  box-shadow: none !important;
}


.buttonUpload.p-fileupload-choose:not(.p-disabled):hover {
  background: white !important;
  border-color: white;
  color: red;
}
