$width: 35%;

.newAdmin {
  height: 100%;
  width: calc(100vw - 191px);

  @media all and (max-width: 1000px) {
    width: 100vw;
  }

  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.407), rgba(87, 87, 87, 0.73)),
  url('../../../../assets/sfondo/sfondoNews.jpg');
  display: flex;
  flex-grow: 1;

  .titolo {
    font-size: 4vw;
    text-align: center;
    width: 100%
  }

  .card {
    position: absolute;
    top: calc(50% - $width/2)-10%;
    left: calc(47% - $width/2);
    width: $width+16%;
    background-color: white;
    border-radius: 10px;
    padding: 25px;

    @media all and (max-width:1000px) {
      top: calc(25% - $width/2);
      left: calc(30% - $width/2);
      width: $width+40%;
      overflow: auto;
     height: calc(100vh - 95px);
    }

    @media all and (min-height:1000px) {
      height: auto;
    }

    .titoloCard {
      font-size: calc(1.5rem + 1vw);
    }

    .form {
      margin: 20px 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .label {
        font-size: 20px;
      }

      @media all and (max-width:1000px) {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}

.posizionePulsante {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
