<article class="messaggioContainer">
  <section class="card">
    <section class="intestazione">
      <p>Scrivi Messaggio</p>
      <img
        class="logo"
        src="../../../assets/guestbook/logoMessaggio.png"
        alt="logo messaggio"
      />
    </section>
    <article class="messaggio" *ngIf="width > 900">
      <section class="containerElementiIntestazioneMessaggio">
        <article
          *ngFor="let item of elementiMessaggio"
          class="elementiMessaggio mt-3"
        >
          <label [for]="item.label">{{ item.label }}</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="item.valore"
            [placeholder]="item.placeholder"
            [id]="item.label"
            [title]="item.label"
          />
        </article>
      </section>
      <section class="containerElementiMessaggio">
        <div class="citazioneContainer">
          <span class="citazione" *ngIf="citazione">
            <strong>{{ citazione.nomeCitazione }}</strong>
            <p>{{ citazione.citazione }}</p>
          </span>
        </div>
        <article class="elementiMessaggio">
          <label for="messaggio">Messaggio *</label>
          <textarea
            id="messaggioTexarea"
            [ngStyle]="{ width: citazione ? '47%' : '100%' }"
            rows="7"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="valoreMessaggio"
          ></textarea>
          <p-button
            (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
            class="mt-3"
            styleClass="button1"
          >
            😀
          </p-button>
          <section class="flex gap-5">
            <p-button
              (click)="annullaNews()"
              class="mt-3 w-max"
              styleClass="button"
              label="Annulla"
            ></p-button>
            <p-button
              [disabled]="disabilitaStep1 || disabilitaStep2"
              (onClick)="salvaNews()"
              class="mt-3 mr-3 w-1"
              [styleClass]="
                disabilitaStep1 || disabilitaStep2
                  ? 'buttonDisabilita'
                  : 'button2'
              "
              label="Salva"
            ></p-button>
          </section>
          <br />
          <emoji-mart
            class="emoji-mart"
            *ngIf="isEmojiPickerVisible"
            (emojiSelect)="addEmoji($event)"
            title="Choose your emoji"
            id="emojy"
          ></emoji-mart>
        </article>
      </section>
    </article>
    <section class="messaggio" *ngIf="width <= 900">
      <section class="containerElementiIntestazioneMessaggio" *ngIf="!step2">
        <section
          *ngFor="let item of elementiMessaggio"
          class="elementiMessaggio mt-3 mb-3"
        >
          <label [for]="item.label">{{ item.label }}</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="item.valore"
            [placeholder]="item.placeholder"
            [id]="item.label"
            [title]="item.label"
          />
        </section>
        <p-button
          [disabled]="disabilitaStep1"
          (onClick)="cambioStep()"
          class="w-max"
          [styleClass]="disabilitaStep1 ? 'buttonDisabilita' : 'button2'"
          label="Step 2"
        ></p-button>
      </section>
      <section class="containerElementiMessaggio" *ngIf="step2">
        <article class="elementiMessaggio">
          <label for="messaggio">Messaggio *</label>
          <textarea
            id="messaggio"
            rows="7"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="valoreMessaggio"
          ></textarea>
          <p-button
            (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
            class="mt-3 w-1"
            styleClass="button1"
          >
            😀
          </p-button>
          <section class="flex justify-content-center gap-3">
            <p-button
              (click)="tornoStepPrecedente()"
              class="mt-3 w-max"
              styleClass="button2"
              label="Step 1"
            ></p-button>
            <p-button
              [disabled]="disabilitaStep2"
              (onClick)="salvaNews()"
              class="mt-3 w-max"
              [styleClass]="disabilitaStep2 ? 'buttonDisabilita' : 'button2'"
              label="Salva"
            ></p-button>
            <p-button
              (click)="annullaNews()"
              class="mt-3 w-max"
              styleClass="button1"
              label="Annulla"
            ></p-button>
          </section>
          <br />
          <emoji-mart
            class="emoji-mart"
            *ngIf="isEmojiPickerVisible"
            (emojiSelect)="addEmoji($event)"
            title="Choose your emoji"
            id="emojy"
          ></emoji-mart>
        </article>
      </section>
    </section>
  </section>
</article>
